    <section id="footer" class="red-section pt-5">
        <div class="container">
            <div class="row">
                <h5>© 2023 Copyright: Antony Quang</h5>
            </div>
            <div class="row pt-4">
                <a class="fa-brands fa-xl fa-linkedin " href="https://www.linkedin.com/in/antony-quang/" target="_blank" rel="noopener noreferrer"></a>
                <a class="fa-brands fa-xl fa-github" href="https://github.com/AntonyQuang" target="_blank" rel="noopener noreferrer">  </a>
            </div>
        </div>
    </section>

