{% extends "header.html" %}


{% block title %}
{% if user %}
{{ user.username }}'s Favourite
{% endif %}
Restaurants
{% endblock %}


{% block content %}



<!-- Importing "Datatables" and jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/v/bs5/dt-1.13.5/r-2.5.0/sc-2.2.0/datatables.min.css" rel="stylesheet"/>
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.5/r-2.5.0/sc-2.2.0/datatables.min.js"></script>

<script>$(document).ready( function () {
    $('#restaurant-table').DataTable({
     responsive: true}
     );
} );</script>

<div class="fluid-container orange-section py-5 w-100" >
    <div class="container neutral-section p-3">
    <div class="row">
        <h1>{% if user %}
                {{ user.username }}'s Favourite
            {% endif %}
            Restaurants</h1>
    </div>
        <div class="row">
            <div class="mb-3 btn-group col-sm-6">
                <a href="{{ url_for('users.recommend') }}" class="btn btn-sm btn-light">Add a restaurant (via Google Maps URL)</a>
                <a href="{{ url_for('admin.add_restaurant') }}" class="btn btn-sm btn-secondary">Add a restaurant (manual)</a>
            </div>
        </div>
    <div class="row mx-auto">
        <table class="table neutral-section" id="restaurant-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Allergy Menu</th>
                    <th>Status</th>
                    <th>Updated</th>
                    <th>Address</th>
                    <th>Google Maps URL</th>
                </tr>
            </thead>
            <tbody>
                {% for restaurant in restaurants %}

                    <tr>
                        <td>{{ restaurant.id }}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#Modal-{{ restaurant.id }}">
                            {{ restaurant.name }}
                            </button>
                        </td>
                        <td><a class="a-text" href="{{ restaurant.menu }}">Link</a></td>

                        <td>{{ restaurant.status }}</td>
                        <td>{{ restaurant.update_datetime.date() }},  {{ restaurant.start_datetime.time().strftime("%H:%M") }}</td>
                        <td>{{ restaurant.address }}</td>
                        <td><a class="a-text"  href="{{ restaurant.maps_url }}">Link</a></td>
                    </tr>


                    <!-- Modal -->
                    <div class="modal fade" id="Modal-{{ restaurant.id }}" tabindex="-1" aria-labelledby="Modal-Label-{{ restaurant.id }}" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content border-0 neutral-section">
                          <div class="modal-header red-section">
                            <h1 class="modal-title fs-5" id="Modal-Label-{{ restaurant.id }}">{{ restaurant.name }}: Info</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <dl>
                                <dt>ID</dt><dd>{{ restaurant.id }}</dd>
                                <dt>Name</dt><dd>{{ restaurant.name }}</dd>
                                <dt>Status</dt><dd>{{ restaurant.status }}</dd>
                                <dt>Address</dt><dd>{{ restaurant.address }}</dd>
                                <dt>Menu</dt><dd><a class="a-text" href="{{ restaurant.menu }}">Link</a></dd>
                                <dt>Latitude</dt><dd>{{ restaurant.latitude }}</dd>
                                <dt>Longitude</dt><dd>{{ restaurant.longitude }}</dd>
                                <dt>Google Maps URL</dt><dd><a class="a-text" href="{{ restaurant.maps_url }}">Link</a></dd>
                                <dt>Website</dt><dd><a class="a-text" href="{{ restaurant.website }}">Link</a></dd>
                                <dt>Phone</dt><dd>{{ restaurant.phone }}</dd>
                                <dt>Price</dt><dd>{{ restaurant.price }}</dd>
                                <dt>Cuisines</dt><dd>{% for cuisine in restaurant.cuisines %}{% if cuisine == restaurant.cuisines[-1] %}{{ cuisine }}. {% else %} {{ cuisine }}, {% endif %} {% endfor %}</dd>
                                <dt>Created</dt><dd>{{ restaurant.start_datetime.date() }}, {{ restaurant.start_datetime.time().strftime("%H:%M") }}</dd>
                                <dt>Updated</dt><dd>{{ restaurant.update_datetime.date() }}, {{ restaurant.update_datetime.time().strftime("%H:%M") }}</dd>
                            </dl>
                          </div>
                          <div class="modal-footer orange-section">
                            <div class="btn-group">
                                <a href="{{ url_for('admin.edit_restaurant', restaurant_id=restaurant.id) }}" class="btn btn-light">Edit</a>
                                <a href="{{ url_for('admin.report_database', restaurant_id=restaurant.id) }}" class="btn btn-secondary">Reports</a>
                            </div>
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                {% endfor %}
            </tbody>
        </table>
    </div>
        </div>
</div>


{% endblock %}