{% extends "header.html" %}


{% block title %}
Users
{% endblock %}


{% block content %}



<!-- Importing "Datatables" and jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/v/bs5/dt-1.13.5/r-2.5.0/sc-2.2.0/datatables.min.css" rel="stylesheet"/>
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.5/r-2.5.0/sc-2.2.0/datatables.min.js"></script>


<script>$(document).ready( function () {
    $('#user-table').DataTable({
     responsive: true}
     );
} );</script>

<div class="fluid-container orange-section py-5 w-100" >
    <div class="container neutral-section p-3">
        <div class="row mb-3">
            <h1>Users</h1>
        </div>
            <div class="row mx-auto">
                 <table class="table neutral-section" id="user-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>User Type</th>
                            <th>Email</th>
                            <th>Datetime Updated</th>
                            <th>Favourites</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}

                            <tr>
                                <td>{{ user.id }}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#Modal-{{ user.id }}">
                                    {{ user.username }}
                                    </button>
                                </td>
                                <td>{{ user.user_type }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.updated_datetime }}</td>
                                <td><a class="a-text" href="{{ url_for('admin.user_favourites_database', user_id=user.id) }}">Favourites</a></td>

                            </tr>

                            <!-- Modal -->
                            <div class="modal fade" id="Modal-{{ user.id }}" tabindex="-1" aria-labelledby="Modal-Label-{{ user.id }}" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header red-section">
                                    <h1 class="modal-title fs-5" id="Modal-Label-{{ user.id }}">{{ user.username }}: Info</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body neutral-section">
                                    <dl>
                                        <dt>ID</dt><dd>{{ user.id }}</dd>
                                        <dt>First Name</dt><dd>{{ user.first_name }}</dd>
                                        <dt>Surname</dt><dd>{{ user.surname }}</dd>
                                        <dt>User Type</dt><dd>{{ user.user_type }}</dd>
                                        <dt>Email</dt><dd>{{ user.email }}</dd>
                                        <dt>Created</dt><dd>{{ user.start_datetime.date() }}, {{ user.start_datetime.time().strftime("%H:%M") }}</dd>
                                        <dt>Updated</dt><dd>{{ user.updated_datetime.date() }}, {{ user.updated_datetime.time().strftime("%H:%M") }}</dd>
                                    </dl>
                                  </div>
                                  <div class="modal-footer orange-section">

                                      <div class="btn-group">
                                    <a href="{{ url_for('admin.edit_user', user_id=user.id) }}" class="btn btn-light">Edit</a>
                                    <a href="{{ url_for('admin.edit_password', user_id=user.id) }}" class="btn btn-secondary">Change Password</a>
                                    <a href="{{ url_for('admin.user_favourites_database', user_id=user.id) }}" class="btn btn-light">Favourites</a>
                                          </div>
                                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
</div>


{% endblock %}