{% extends "header.html" %}

{% block content %}

<div class="fluid-container orange-section py-5">
    <div class="container-lg mx-auto my-5 w-50 p-5 neutral-section">
        <div class="row">
            <div class="col text-center  mb-3">
                <h1>Update your Password</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="POST" action="{{ url_for('users.change_password', user_id=user.id) }}" class="w-75 mx-auto">
                    {{ password_form.csrf_token }}
                    <!-- Current Password -->
                    <div class="form-floating mb-3">

                        {{ password_form.old_password(class="form-control", id="floatingOldpassword") }}
                        {{ password_form.old_password.label(for="floatingOldpassword") }}


                    </div>
                    <!-- New Password -->
                    <div class="form-floating mb-3">

                        {{ password_form.new_password(class="form-control", id="floatingNewpassword") }}
                        {{ password_form.new_password.label(for="floatingNewpassword") }}


                    </div>
                    <!-- Confirm Password -->
                    <div class="form-floating mb-3">
                        {{ password_form.confirm_password(class="form-control", id="floatingConfirm") }}
                        {{ password_form.confirm_password.label(for="floatingConfirm") }}
                    </div>

                    <!-- Update button -->
                    <div class="mb-2 row">
                        <div class="col">
                         {{ password_form.update(class="btn btn-light") }}
                        </div>
                        <!-- Cancel button -->
                        <div class="col">
                            <a class="btn btn-danger" href="{{ url_for('users.user_profile', user_id=user.id) }}">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}