{% extends "header.html" %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/v/bs5/dt-1.13.5/datatables.min.css" rel="stylesheet"/>
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.5/datatables.min.js"></script>


<script>
$(document).ready( function () {
    $('#restaurant-table').DataTable({
    responsive: true
    });
} );
</script>
<div class="fluid-container w-100 orange-section py-5">
<div class="container neutral-section py-3">
  <div class="row px-3">

      <h1>{{ user.username }}</h1>

  </div>
  <!-- User information -->
  <div class="row px-3">


      <!-- Admin specific rows -->
      {% if current_user.user_type == "Admin" %}
      <dt class="col-sm-3">User ID</dt>
      <dd class="col-sm-9">{{ user.id }}</dd>

      <dt class="col-sm-3">User Type</dt>
      <dd class="col-sm-9">{{ user.user_type }}</dd>

      <dt class="col-sm-3">Updated Date (YYYY-MM-DD)</dt>
      <dd class="col-sm-9">{{ user.updated_datetime.date() }}</dd>

      {% endif %}

      <!-- General rows -->
      <dt class="col-sm-3">First Name</dt>
      <dd class="col-sm-9">{{ user.first_name }}</dd>


      <dt class="col-sm-3">Surname</dt>
      <dd class="col-sm-9">{{ user.surname }}</dd>


      <dt class="col-sm-3">Email</dt>
      <dd class="col-sm-9">{{ user.email }}</dd>


      <dt class="col-sm-3">Join Date (YYYY-MM-DD)</dt>
      <dd class="col-sm-9">{{ user.start_datetime.date() }}</dd>


  </div>
  <!-- User options -->
  {% if current_user.id == user.id %}
    <div class="row py-3">
        <div class="col-5 btn-group">
          <a href="{{ url_for('users.edit_profile', user_id=user.id) }}" class="btn btn-light">Update Details</a>
          <a href="{{ url_for('users.change_password', user_id=user.id) }}" class="btn btn-secondary">Change Password</a>
        </div>
    </div>

  {% endif %}
    <hr>


  <!-- User favourites -->
    <div class="row mx-auto">

        <h2 class="mb-3">Liked Restaurants</h2>

        <table class="table" id="restaurant-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Allergy Menu</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {% for restaurant in restaurants %}

                    <tr>
                        <td>
                            <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#Modal-{{ restaurant.id }}">
                            {{ restaurant.name }}
                            </button>
                        </td>
                        <td><a class="a-text" href="{{ restaurant.menu }}" target="_blank">Link</a></td>
                        <td><a class="a-text" href="{{ restaurant.maps_url }}" target="_blank">{{ restaurant.address }}</a></td>
                    </tr>


                    <!-- Modal -->
                    <div class="modal fade" id="Modal-{{ restaurant.id }}" tabindex="-1" aria-labelledby="Modal-Label-{{ restaurant.id }}" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content border-0 neutral-section">
                          <div class="modal-header red-section">
                            <h1 class="modal-title fs-5" id="Modal-Label-{{ restaurant.id }}">{{ restaurant.name }}: Info</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <dl>
                                <dt>Name</dt><dd><a class="a-text" href="{{ restaurant.maps_url }}" target="_blank">{{ restaurant.name }}</a></dd>
                                <dt>Address</dt><dd>{{ restaurant.address }}</dd>
                                <dt>Menu</dt><dd><a class="a-text" href="{{ restaurant.menu }}" target="_blank">Link</a></dd>
                                <dt>Website</dt><dd><a class="a-text" href="{{ restaurant.website }}" target="_blank">Link</a></dd>
                                <dt>Phone</dt><dd>{{ restaurant.phone }}</dd>
                                <dt>Price</dt><dd>{{ restaurant.price }}</dd>
                                <dt>Cuisines</dt><dd>{% for cuisine in restaurant.cuisines %}{% if cuisine == restaurant.cuisines[-1] %}{{ cuisine }}. {% else %} {{ cuisine }}, {% endif %} {% endfor %}</dd>
                            </dl>
                          </div>
                          <div class="modal-footer orange-section">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                            <a href="{{ url_for('users.unlike', restaurant_id=restaurant.id) }}" class="btn btn-light">👎</a>
                            <a href="{{ url_for('users.report', restaurant_id=restaurant.id) }}" class="btn btn-danger">🐞</a>
                          </div>
                        </div>
                      </div>
                    </div>

                {% endfor %}
            </tbody>
        </table>
    </div>

    </div>
</div>
{% endblock %}